.textWrapper {
  font-size: 21.5px;
  line-height: 33.5px;
  letter-spacing: normal;

  &.centerAligned {
    max-width: 600px;
    margin: auto;
    text-align: center;
  }

  &.leftAligned {
    width: 100%;
    text-align: left;
  }

  p {
    font-size: 21.5px;
    line-height: 33.5px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(small) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }

  a {
    color: #767676;
    text-decoration: underline;
  }

  ul {
    list-style: disc;
    margin-left: 20px;
  }
}
